/*variables*/
:root {
    --golden: #b8860b;
    --golden2: #f3c85d;
    --red: #d60000;
    --darkred: #b40000;
    --white: #ffffff;
    --darkblue: #27333d;
    --blue: #26435a;
    --grey: #8b8b8b;
    --grey2: #dddddd;
    --darkwhite: #f7f7f7;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--darkwhite);
}

.pt-5 {
    margin-top: 3rem;
}

.titulo {
    color: var(--red) !important;
    font-weight: 600;
}

.titulo-ofertas {
    color: var(--golden) !important;
    font-weight: 600;
}

.precio {
    text-decoration: none;
    font-size: 1.5rem;
}

i {
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    transition: .5s;
}

i:hover {
    color: var(--golden);
    transition: .5s;
}

/*ITEMS DESCUENTO*/

.item_marks {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 0;
}

.item_mark {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 60px;
    text-align: center
}

.item_discount {
    background: var(--grey);
    position: relative;
    z-index: 6;
}

.item_discount2 {
    background: var(--blue);
    position: relative;
    z-index: 6;
}

.item_discount3 {
    background: var(--red);
    position: relative;
    z-index: 6;
}

.item_discount_3x2 {
    background: var(--golden2);
    color: var(--black);
    position: relative;
    z-index: 6;
}

.item_new {
    background: var(--golden);
    position: relative;
    z-index: 6;
}

.bbb_viewed_item.discount .item_discount {
    display: inline-block
}

.bbb_viewed_item.is_new .item_new {
    display: inline-block
}

.btn.btn-light {
    border-radius: 2rem;
}

/*SACAR BORDE "OUTLINE" DE LOS BOTONES BOOTSTARP*/
.btn {
    box-shadow: none !important;
}

/*imágenes animación*/
img {
    transition: .5s;
}

img:hover {
    filter: opacity(70%);
    transition: .5s;
    z-index: 5;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
}

.dropdown.float-right {
    margin-right: 7rem;
}